---
layout: default
top_nav_name: Pages
title: LAMurakami Blog Pages
permalink: /Pages.html
---

  <h1> {{ page.title }} </h1>

  <h2>Static Pages</h2>
  <ul>
    {% for file in site.static_files %}
      <li>
        {{ file.modified_time | date: "%b %-d, %Y" }}
         -
          <a href="{{ file.path | prepend: site.baseurl }}">
          {{ file.path }} </a>
      </li>
    {% endfor %}
  </ul>

  <h2>Other Pages</h2>
  <ul>
    {% for page in site.pages %}
      <li>
          <a href="{{ page.url | prepend: site.baseurl }}">
            {% if page.title %} {{ page.title }}
            {% else %} {{ page.url }}
            {% endif %}

          </a>
      </li>
    {% endfor %}
  </ul>
