<header>
<div class="wrapper">
<div id="top_nav"><div id="menuwrapper">
<ul id="menuBar" style="margin-bottom: 0px;">
<li><a class="trigger" href="{{ site.baseurl }}" name="top">{{ site.title }}</a></li>

<li><a class="trigger" href="{{ site.baseurl }}/Sitemap.html" name="top">Posts</a>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
<li><a class="trigger" href="{{ site.baseurl }}/Sitemap.html" name="top">Pages</a>
  <ul>
    {% for page in site.pages %}
      {% if page.url != "/" and page.url != "/About/" %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">
            {% if page.title %} {{ page.title }}
            {% else %} {{ page.url }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
<li><a class="trigger" href="{{ site.baseurl }}/Sitemap.html" name="top">Static</a>
  <ul>
    {% for file in site.static_files %}
      <li><a href="{{ file.path | prepend: site.baseurl }}">{{ file.path }}</a></li>
    {% endfor %}
  </ul>
</li>
<li><a class="trigger" href="{{ site.baseurl }}/About" name="top">About</a></li>
</ul>
</div></div><br class="clearit"><!-- END top_nav menuwrapper menuBar -->
</div>
</header>
